@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    font-family: 'Noto Sans', sans-serif;
    
}


:root{
    --purple: rgb(211, 22, 211);
}

*::selection{
    background: var(--purple);
    color: white;
}

html{
    font-size: 62%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;

}

header .logo span{
    color: var(--purple);
}

header .navbar a{
    color: white;
    font-size: 2rem;

    margin: 0 0.8rem;
}

header .navbar a:hover{
    color: var(--purple);
}


header .icons i{
    font-size: 2.5rem;
    color: white;

    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color: var(--purple);
}

header .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    z-index: 101;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;

}

header .search-bar-container label{
    color: white;
    cursor: pointer;
    font-size: 3rem;

}

/* -----------------login form---------? */


.login-form-container{
    
}